<td>&nbsp;&nbsp;</td>
<td><img src="/static/img/jun09/pad/editbar_groupleft.gif" width="2" height="24"></td>
<td id="linenumberlinks-jump-backward" class="editbarbutton editbargroupsfirst">
  <a href="javascript:void(0)" title="Jump backward" onclick="if(lineNumberLinks) lineNumberLinks.jumpBackward()" style="outline: none;"><img src="/static/html/plugins/lineNumberLinks/button_jump_backward_inactive.png"></a>
</td>
<td id="linenumberlinks-jump-forward" class="editbarbutton">
  <a href="javascript:void(0)" title="Jump forward" onclick="if(lineNumberLinks) lineNumberLinks.jumpForward()" style="outline: none;"><img src="/static/html/plugins/lineNumberLinks/button_jump_forward_inactive.png"></a>
</td>
<td><img src="/static/img/jun09/pad/editbar_groupright.gif" width="2" height="24"></td>
