<td>&nbsp;&nbsp;</td>
<td><img src="/static/img/jun09/pad/editbar_groupleft.gif" width="2" height="24"></td>
<td class="editbarbutton editbargroupsfirst">
  <a href="javascript:fontSizeTags.bigButtonClicked()" title="Bigger font"><img src="/static/html/plugins/fontSizeTags/editbar_fontSizeTagsBig.gif"></a>
</td>
<td class="editbarbutton">
  <a href="javascript:fontSizeTags.smallButtonClicked()" title="Smaller font"><img src="/static/html/plugins/fontSizeTags/editbar_fontSizeTagsSmall.gif"></a>
</td>
<td><img src="/static/img/jun09/pad/editbar_groupright.gif" width="2" height="24"></td>
